@page "/erroroverview"
@inherits ErrorOverviewBase
@using Hippologamus.Server.Components
@attribute [Authorize]

<h3>Error Overview</h3>

@if (ErrorLogs == null)
{
    <WaitLoading />
}
else
{
    <PaginationComponent PagedList="ErrorLogs"
                         ShowDataAsAList="ShowDataAsAList"
                         OrderByList="OrderByList"
                         ShowDataAsAListCallback="ShowDataAsAList"
                         PageSize_ChangeCallback="PageSize_Change"
                         PerviousPageCallback="PerviousPage"
                         FirstPageCallback="FirstPage"
                         NextPageCallback="NextPage"
                         LastPageCallback="LastPage"
                         ShowDataAs_ClickCallback="ShowDataAs_Click"
                         @bind-ShowPageSizeValue="ShowPageSize"
                         OrderBy_ClickCallback="OrderBy_Click"
                         @bind-OrderByValue="OrderBy" />

    @if (ShowDataAsAList)
    {
        <ErrorLogPagedListTable ErrorLogPagedList="ErrorLogs" />
    }
    else
    {

    }
}