@page "/erroroverview"
@inherits ErrorOverviewBase
@using Hippologamus.Server.Components

<h3>Error Overview</h3>

@if (ErrorLogs == null)
{
    <WaitLoading />
}
else
{
    <ErrorLogPagedListTable ErrorLogPagedList="ErrorLogs"/>
}