@using Hippologamus.Server.Components
@page "/perflogList/{Assembly}/{RequestPath}"
@inherits PerfLogListBase


<h3>PerfLogList</h3>

@if (PerfLogPagedList == null)
{
    <WaitLoading/>
}
else
{
    <div class="col-12 row">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Current Page</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationCurrentPage</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Page Size</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationPageSize</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Total Count</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationTotalCount</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Total Pages </label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationTotalPages</label>
            </div>
        </div>
    </div>

    <PaginationComponent PagedList="PerfLogPagedList"
                         ShowDataAsAList="ShowDataAsAList"
                         OrderByList="OrderByList"
                         ShowDataAsAListCallback="ShowDataAsAList"
                         PageSize_ChangeCallback="PageSize_Change"
                         PerviousPageCallback="PerviousPage"
                         FirstPageCallback="FirstPage"
                         NextPageCallback="NextPage"
                         LastPageCallback="LastPage"
                         ShowDataAs_ClickCallback="ShowDataAs_Click"
                         @bind-ShowPageSizeValue=ShowPageSize
                         OrderBy_ClickCallback="OrderBy_Click"
                         @bind-OrderByValue=OrderBy />

    @if (ShowDataAsAList)
    {
        <PerfLogPagedListTable PerfLogPagedList="PerfLogPagedList" />
    }
    else
    {
        <PerfLogPagedListGrid PerfLogPagedList="PerfLogPagedList" />
    }
}