@page "/perflogoverview"
@inherits PerfLogOverviewBase

<h3>PerfLogOverview</h3>

@if (PerfLogAssemblyDisplays == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perfLogAssembly in PerfLogAssemblyDisplays)
            {
                <tr>
                    <td>@perfLogAssembly.Assembly</td>
                </tr>
            }
        </tbody>
    </table>
}