@page "/perflogoverview"
@inherits PerfLogOverviewBase
@using Hippologamus.Server.Components
@attribute [Authorize]

<h3>PerfLogOverview</h3>

@if (PerfLogAssemblyDisplays == null)
{
    <WaitLoading />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perfLogAssembly in PerfLogAssemblyDisplays)
            {
                <PerfLogAssemblyRow @key="perfLogAssembly" PerfLogAssembly="perfLogAssembly"></PerfLogAssemblyRow>
            }
        </tbody>
    </table>

}
