@inherits ErrorLogPagedListTableBase

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>TimeStamp</th>
            <th>Message</th>
            <th>Machine Name</th>
            <th>Exception Message</th>
            <th>Request Path</th>
            <th>Assembly</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ErrorLogPagedList.ErrorLogs)
        {
            <ErrorLogPagedListTableRow @key="item" ErrorLog="item" />
        }
    </tbody>
</table>