@inherits PerfLogsRequestPathSelectorBase
@using  Hippologamus.Server.Components

@if (RequestPaths == null)
{
    <Loading/>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm">
                <tr>
                    <th class="w-auto">Request Path</th>
                    <th></th>
                </tr>

                @foreach (var requestPath in RequestPaths)
                {
                    <tr @key="requestPath">
                        <td>@requestPath.RequestPath</td>
                        <td>

                            <a href="@($"perflogList/{requestPath.Assembly}/{requestPath.RequestPathLink}")"
                               class="btn btn-primary table-btn">
                                <i class="far fa-eye"></i>
                            </a>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
} 