@inherits PerfLogsRequestPathSelectorBase
@using  Hippologamus.Server.Components

@if (PerfItems == null)
{
    <WaitLoading/>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm">
                <tr>
                    <th class="w-auto">Request Path</th>
                    <th></th>
                </tr>

                @foreach (var perfItem in PerfItems)
                {
                    <tr @key="perfItem">
                        <td>@perfItem.PerfItem</td>
                        <td>

                            <a href="@($"perflogList/{perfItem.Assembly}/{perfItem.PerfItem}")"
                               class="btn btn-primary table-btn">
                                <i class="far fa-eye"></i>
                            </a>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
} 