<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hippologamus.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="menu list-group list-group-flush">

    <NavLink class="list-group-item list-group-item-action bg-light" href="/perflogoverview">
        <i class="fas fa-tachometer-alt"></i>  Performance
    </NavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
