<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hippologamus.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="menu list-group list-group-flush">

    <AuthorizeView>
        <Authorized>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/perflogoverview">
                <i class="fas fa-tachometer-alt"></i>  Performance
            </NavLink>

            <NavLink class="list-group-item list-group-item-action bg-light" href="/erroroverview">
                <i class="fas fa-exclamation"></i> Errors
            </NavLink>

            @*<form method="post" action="/identity/account/logout">
                    <button class="list-group-item list-group-item-action bg-light">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
                        (@context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value)
                    </button>
                </form>*@
            <NavLink class="list-group-item list-group-item-action bg-light"
                     href="identity/account/logout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
                (@context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value)
            </NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink class="list-group-item list-group-item-action bg-light"
                     href="/identity/account/login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
            </NavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}